body {
  /*background-color: #c5f0a4;*/
  background-color: #ebce95;
  margin: 0px;
  text-align: center;
}

.top {
  background-color: #407088;
  padding-top: 150px;
  position: relative;
}

.middle {
  background-color: #ebce95;
  padding: 100px auto;
  margin-bottom: 50px;
}

.bottom {
  background-color: #f7e8e8;
  margin-bottom: 0px;
  padding: 20px;
  margin-top: 20px;
}

.cloud-top {
  position: absolute;
  right: 300px;
  top: 40px;
}

.cloud-bottom {
  position: absolute;
  left: 250px;
  bottom: 450px;
  border-radius: 40px 10px;
  
}

.rainbow-bottom {
  border-radius: 13em/3em;

}

h1 {
  font-family: 'Sacramento', cursive;
  color: #b2fcff;
  font-size: 5.625rem;
  margin-bottom: 0;
}

.par1 {
  font-size: 1.5rem;
  font-weight: normal;
}

h2 {
  font-family: 'Satisfy', cursive;
  font-size: 2.5rem;
  color: #01024e;
}

h3 {
  font-family: 'Monoton', cursive;
  color: #da4302;
}

p {
  font-family: 'Lexend Zetta', sans-serif;
  color: #ef4b4b;
}

/*Images Classes*/
.profpic {
  border-radius: 50%;
  margin-top: 100px;
}

.progimage1 {
  border-radius: 50%;
}

.progimage2 {
  border-radius: 2em;
}

.mathimage3 {
  border-radius: 50%;
}

.contact-me {
  font-style: oblique;
  font-family: Arial;
}

.getintouchmessage {
  font-size: 1rem;
  font-style: oblique;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  line-height: 2;
}

.endpar {
  margin-top: 15px;
  margin-bottom: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.copyrightpar {
  padding-top: 25px;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 0px;
  color: #007065;
  font-size: 1rem;
}

hr {
  border: dotted #ffffc5 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 5%;
}

hr:hover {
  border: dotted #b6ffea 6px;
  border-bottom: none;
}

.contactlinkbtn {
  background: #c5f0a4;
  background-image: -webkit-linear-gradient(top, #c5f0a4, #35b0ab);
  background-image: -moz-linear-gradient(top, #c5f0a4, #35b0ab);
  background-image: -ms-linear-gradient(top, #c5f0a4, #35b0ab);
  background-image: -o-linear-gradient(top, #c5f0a4, #35b0ab);
  background-image: linear-gradient(to bottom, #c5f0a4, #35b0ab);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  text-shadow: 1px 1px 3px #13bfb6;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.contactlinkbtn:hover {
  background: #eb7070;
  background-image: -webkit-linear-gradient(top, #eb7070, #f0d78c);
  background-image: -moz-linear-gradient(top, #eb7070, #f0d78c);
  background-image: -ms-linear-gradient(top, #eb7070, #f0d78c);
  background-image: -o-linear-gradient(top, #eb7070, #f0d78c);
  background-image: linear-gradient(to bottom, #eb7070, #f0d78c);
  text-decoration: none;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #007065;
}



.bod {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F8F005;
}

.buty, .buty::after {
  width: 380px;
  height: 86px;
  font-size: 36px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #FA7D09 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
}

.buty::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FA7D09 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.buty:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
.buty:hover {
  cursor: pointer;
}




.bod2 {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /*this min-height: 100vh; relate with align-items*/
    background: #031321;
    font-family: consolas;
}
.neon {
	margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
      /*this min-height: 100vh; relate with align-items*/
    font-family: consolas;
	background: #4D4C7D;
	border: #2196f3 3px solid;
    border-radius: 16px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.neon:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0px 0px 10px #2196f3, 0px 0px 40px #2196f3, 0px 0px 80px #2196f3;
    transition-delay: 1s;
}
.neon span {
    position: absolute;
    display: block;
}
/*upper side of the button*/
.neon span:nth-child(1) {  /*nth-child(no of element) is apply on that particular element we select*/
    /*this span is used as a upper position border of the button*/
    top: 0px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
.neon:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}
/*button side of the button*/
.neon span:nth-child(3) {  /*nth-child(no of element) is apply on that particular element we select*/
    /*this span is used as a upper position border of the button*/
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
.neon:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
/*right side of the button*/
.neon span:nth-child(2) {  /*nth-child(no of element) is apply on that particular element we select*/
    /*this span is used as a upper position border of the button*/
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
.neon:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
/*left side of the button*/
.neon span:nth-child(4) {  /*nth-child(no of element) is apply on that particular element we select*/
    /*this span is used as a upper position border of the button*/
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}
.neon:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.neon:not(:hover){
    transition-duration: 1s;
}



.academia {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.academia span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.academia span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.academia:hover {
	background-color: #bc3409;
	/* transform: scale(1.3); */
}

.academia:hover span {
  padding-right: 25px;
}

.academia:hover span:after {
  opacity: 1;
  right: 0;
}


/* .fa.fa-university:hover{ */
  /* font-size:1em; */
  /* transition: 1s ease-out; */
/* } */


/* .academia.fa.fa-university {  transition: font-size 0.35s ease;   } .academia.fa.fa-university:hover.fa.fa-university {  font-size: 1em;   } */ */

.academia > .fa {  transition: font-size 0.35s ease;   } .academia:hover > .fa {  font-size: 1.6em;   }



 
.topnav {
  overflow: hidden;
  background-color: #FF8C32;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #E8630A;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
 







/* .topnav {
      overflow: hidden;
      background-color: #FF8C32;
    }

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #E8630A;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
.topnav a {display: none;}
.topnav a.icon {
float: right;
display: block;
 }
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
position: absolute;
right: 0;
top: 0;
}
.topnav.responsive a {
float: none;
display: block;
text-align: left;
 }
}
 */





* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #EC994B #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 18px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #EC994B;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
